.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.avatar-wrapper {
    position: relative;
}

.avatar {
    width: 100px;
    height: 100px;
}

.camera-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}