ion-tab-button ion-icon {
    color: var(--ion-color-tertiary);
}
ion-tab-button ion-label {
    color: white;
}

ion-tab-bar {
    --background: var(--ion-color-primary);
    --color: white;
    /* Asegúrate de que el texto y los iconos sean blancos si es necesario */
}