<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de Estados -->
   <ion-title>Estados</ion-title>
  <ion-list class="lista-estados">
     
    <ion-item *ngFor="let estado of estados" class="estado">
      <div class="estado-container" [style.backgroundImage]="'url(' + estado.estadoURL + ')'">
        <ion-avatar class="estado-avatar">
          <img [src]="estado.avatarURL" alt="Estado de {{ estado.username }}" />
        </ion-avatar>
      </div>
      <ion-label class="estado-nombre">
        <strong>{{ estado.username }}</strong>
       
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Lista de Comunidades -->
  <ion-list class="lista-comunidades">
     <ion-title>Canales</ion-title>
    <ion-item *ngFor="let comunidad of comunidades" class="comunidad">
      <ion-avatar slot="start">
        <img [src]="comunidad.logoURL" alt="Logo de {{ comunidad.nombre }}" />
      </ion-avatar>
      <ion-label>
        <strong>{{ comunidad.nombre }}</strong>
        <br>
        <ion-note color="medium" class="ion-text-wrap">{{ comunidad.mensaje }}</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">{{ comunidad.fecha }}</ion-note>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
