  ion-item {
      --background: #0B1014;
      --color: white;}ion-item {
    margin-bottom: 10px; /* Ajusta el valor según lo necesites */
}


ion-item {
  margin-bottom: 10px;
  /* Ajusta el valor según lo necesites */
}